.app {
  width: 100vw;
  min-height: 100vh;
  background: #767d85;
  color: #fff!important;
}

.app__container {
  max-width: 430px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.ant-form-item-label > label {
  color: #fff!important;
}

.ant-list {
  width: 100%!important;
}

.ant-list-item-meta-title,
.ant-list-header {
  color: #fff!important;
}
.ant-list-item-meta-description {
  color: #22d1ee!important;
  word-wrap: break-word;
}